body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

div.add-form {
  border: 1px solid #cccccc;
  border-radius: 20px;
  padding: 20px;

  text-align: center;
}

div.input-with-caption {
  display: flex;
  justify-content: space-between;
}

#button {
  background: #6c7b95;
  color: white;
  text-align: center;
  padding: 4px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}

#button:hover {
  background: #464159;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
}

table tr {
  border-bottom: 1px solid #cccccc;
}

tr.active {
  cursor: pointer;
}

table tr.active:hover {
  background: #c9c9c9;
}

table th {
  background: #eff1f5;
  padding: 10px;
  text-align: center;
}

table td {
  padding: 4px;
  text-align: center;
}

.add-form {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
}

.noneDisplay {
  display: none;
}

.container-design {
  border: 1px solid #cccccc;
}
