.Green {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: green;
  width: 100%;
  height: 0.05%;
}

.Red {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.none {
  display: none;
}
.display {
  display: block;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0.02;
  font-family: "Roboto", sans-serif;
}

img {
  min-width: 50px;
  max-width: 100px;
}
h1 {
  color: green;
}

.color {
  color: red;
}
